Repository wso2/product-microgateway, pull requests merged in 2023-04, with the labels that each got.

#3332 [main] Base image version update
  adapter/src/main/resources/Dockerfile
  enforcer-parent/enforcer/src/main/resources/Dockerfile
  pom.xml
Labels: Type/Task, Priority/Normal

#3334 use deploymentType property and bind api deployment to an type
  adapter/internal/api/apis_impl.go
  adapter/internal/discovery/xds/server.go
  adapter/internal/discovery/xds/server_test.go
  adapter/internal/oasparser/config_generator.go
  adapter/internal/oasparser/model/mgw_swagger.go
  adapter/internal/synchronizer/apis_fetcher.go
  adapter/pkg/discovery/api/wso2/discovery/api/api.pb.go
  adapter/pkg/synchronizer/types.go
  api/proto/wso2/discovery/api/api.proto
  enforcer-parent/commons/src/main/java/org/wso2/choreo/connect/enforcer/commons/model/APIConfig.java
  enforcer-parent/enforcer/src/main/gen/org/wso2/choreo/connect/discovery/api/Api.java
  enforcer-parent/enforcer/src/main/gen/org/wso2/choreo/connect/discovery/api/ApiOrBuilder.java
  enforcer-parent/enforcer/src/main/gen/org/wso2/choreo/connect/discovery/api/ApiProto.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/analytics/AnalyticsFilter.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/api/RestAPI.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/constants/APIConstants.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/AuthFilter.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/jwt/APIKeyAuthenticator.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/jwt/JWTAuthenticator.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/util/EndpointSecurityUtils.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/util/FilterUtils.java
  integration/test-integration/src/test/resources/testng-cc-standalone.xml
Labels: Choreo

#3330 Provide specific error message when rate limiting is enabled
  adapter/internal/err/errors.go
  adapter/internal/oasparser/envoyconf/response_mapper.go
  integration/test-integration/src/test/java/org/wso2/choreo/connect/tests/testcases/standalone/ratelimit/ApiLevelRatelimitTestCase.java
Labels: Type/Task, Choreo

#3335 Global cache for JWKS
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/jwt/JWTAuthenticator.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/jwt/validator/JWTValidator.java
Labels: Type/Task, Choreo

#3340 Include the original vhost in access logs
  adapter/internal/oasparser/envoyconf/access_loggers.go
  adapter/pkg/config/log_types.go
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/constants/RouterAccessLogConstants.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/grpc/ExtAuthService.java
  resources/conf/log_config.toml
Labels: Type/Improvement, Choreo

#3331 [Choreo] Dependency and base image updates
  adapter/src/main/resources/Dockerfile
  enforcer-parent/enforcer/src/main/resources/Dockerfile
  pom.xml
Labels: Type/Task, Choreo

#3342 Document default ReservedLogFormat in log_config.toml
  adapter/pkg/config/log_types.go
  resources/conf/log_config.toml
Labels: Type/Task, Choreo

#3343 Upgrade Prometheus jar to 0.18.0 to upgrade snakeyaml
  pom.xml
Labels: Type/Improvement, Affected/3.2.0, ballerina-mgw
