Repository wso2/product-microgateway, pull requests merged in 2024-09, with the labels that each got.

#3581 [Choreo] Add analytics for websocket APIs
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/api/WebSocketAPI.java
Labels: Type/Improvement

#3584 [Choreo] [ws analytics] Fix publishing 101 success requests
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/analytics/ChoreoAnalyticsProvider.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/constants/AnalyticsConstants.java
Labels: Type/Improvement, Choreo

#3576 Reduce the connection duration time to 15 mints
  adapter/internal/oasparser/envoyconf/routes_with_clusters.go
Labels: Type/Improvement, Choreo

#3588 [choreo] Support AMQP over websockets for connecting ASB
  adapter/config/default_config.go
  adapter/config/types.go
  adapter/go.mod
  adapter/go.sum
  adapter/internal/messaging/azure_listener.go
  adapter/pkg/messaging/azure_connection.go
  adapter/pkg/messaging/azure_listener.go
  resources/conf/config.toml.template
Labels: Choreo

#3587 [Choreo] Add support to send oauth2 token in sec-websocket-protocol header
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/constants/Constants.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/jwt/AuthenticatorUtils.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/jwt/InternalAPIKeyAuthenticator.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/jwt/JWTAuthenticator.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/jwt/UnsecuredAPIAuthenticator.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/util/InternalAPIKeyUtils.java
  enforcer-parent/enforcer/src/test/java/org/wso2/choreo/connect/enforcer/security/jwt/JWTAuthenticatorTest.java
Labels: Type/Task, Choreo

#3590 Handle scenarios where sec-ws-protocol header is null when security is disabled
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/jwt/UnsecuredAPIAuthenticator.java
Labels: Choreo

#3593 [choreo] set the value for auth header from sec-protocol header
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/jwt/JWTAuthenticator.java
Labels: Type/Task, Choreo
