Repository wso2/product-microgateway, pull requests merged in 2024-05, with the labels that each got.

#3504 [Choreo] Changes to consider organization with subscription policies
  .github/workflows/main.yml
  .trivyignore
  adapter/go.mod
  adapter/go.sum
  adapter/internal/discovery/xds/marshaller.go
  adapter/internal/discovery/xds/rate_limiter_cache.go
  adapter/internal/discovery/xds/rate_limiter_cache_test.go
  adapter/internal/messaging/notification_listener.go
  adapter/internal/oasparser/envoyconf/envoyconf_internal_test.go
  adapter/internal/oasparser/envoyconf/routes_with_clusters.go
  adapter/pkg/discovery/api/wso2/discovery/subscription/subscription_policy.pb.go
  adapter/pkg/eventhub/types/types.go
  adapter/pkg/messaging/event_types.go
  api/proto/wso2/discovery/subscription/subscription_policy.proto
  enforcer-parent/enforcer/src/main/gen/org/wso2/choreo/connect/discovery/subscription/SubscriptionPolicy.java
  enforcer-parent/enforcer/src/main/gen/org/wso2/choreo/connect/discovery/subscription/SubscriptionPolicyOrBuilder.java
  enforcer-parent/enforcer/src/main/gen/org/wso2/choreo/connect/discovery/subscription/SubscriptionPolicyProto.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/discovery/ConfigDiscoveryClient.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/models/Policy.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/jwt/JWTAuthenticator.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/subscription/SubscriptionDataStoreImpl.java
  enforcer-parent/enforcer/src/main/resources/Dockerfile
  pom.xml
Labels: Type/New Feature, Choreo, java, go

#3508 [Choreo] Fixing carbon.super as the default tenant for Choreo
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/analytics/AnalyticsFilter.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/analytics/ChoreoFaultAnalyticsProvider.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/KeyValidator.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/jwt/JWTAuthenticator.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/throttle/ThrottleFilter.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/util/FilterUtils.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/websocket/WebSocketThrottleFilter.java
Labels: Type/Task, Choreo

#3509 Minor imprvements considering the logs relevant to the subscription rate-limiting
  adapter/internal/discovery/xds/marshaller.go
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/jwt/JWTAuthenticator.java
Labels: Type/Task, Choreo, java, go

#3514 Add support for invocations with internal key for Websocket APIs
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/api/RestAPI.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/api/Utils.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/api/WebSocketAPI.java
Labels: Type/Improvement

#3512 Correction to get correct subscription policy from SubscriptionDataStore
  adapter/internal/discovery/xds/rate_limiter_cache.go
  adapter/internal/discovery/xds/rate_limiter_cache_test.go
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/admin/AdminServerInitializer.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/admin/handlers/ThrottlingPolicyRequestHandler.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/constants/APIConstants.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/models/Policy.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/models/SubscriptionPolicy.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/KeyValidator.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/jwt/JWTAuthenticator.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/subscription/SubscriptionDataStore.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/subscription/SubscriptionDataStoreImpl.java
Labels: Choreo

#3519 [Choreo] Minor correction for org ID assignment
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/subscription/SubscriptionDataStoreImpl.java
Labels: Choreo

#3522 [choreo] Minor improvement considering the rate-limit count zero
  adapter/internal/discovery/xds/rate_limiter_cache.go
Labels: Choreo, go

#3527 Enable security disabling for websocket APIs
  adapter/internal/api/apis_impl.go
  adapter/internal/discovery/xds/server.go
  adapter/internal/oasparser/model/api_env.go
  adapter/internal/oasparser/model/async_api.go
  adapter/internal/oasparser/model/mgw_swagger.go
  adapter/internal/oasparser/model/open_api.go
  adapter/internal/oasparser/model/swagger.go
  adapter/internal/oasparser/model/types.go
  adapter/internal/oasparser/operator/operator.go
  adapter/internal/oasparser/utills/open_api_utills_test.go
  adapter/internal/oasparser/utills/open_api_utils.go
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/api/RestAPI.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/api/Utils.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/api/WebSocketAPI.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/server/HttpRequestHandler.java
Labels: Type/Improvement

#3523 [Choreo] Implementations for burst controlling support with subscription policies
  adapter/internal/discovery/xds/marshaller.go
  adapter/internal/discovery/xds/rate_limiter_cache.go
  adapter/internal/discovery/xds/rate_limiter_cache_test.go
  adapter/internal/messaging/notification_listener.go
  adapter/internal/oasparser/envoyconf/envoyconf_internal_test.go
  adapter/internal/oasparser/envoyconf/routes_with_clusters.go
  adapter/pkg/messaging/event_types.go
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/jwt/JWTAuthenticator.java
Labels: Type/Task, Choreo, java, go
