Repository wso2/product-microgateway, pull requests merged in 2025-04, with the labels that each got.

#3662 [3.2.x] Revamp schema validation logic to align with APIM 4.x versions
  components/micro-gateway-cli/src/main/resources/templates/ballerinaToml.mustache
  components/micro-gateway-core/pom.xml
  components/micro-gateway-core/src/main/ballerina/Ballerina.toml
  components/micro-gateway-core/src/main/ballerina/src/gateway/filters/validation_request_filter.bal
  components/micro-gateway-core/src/main/ballerina/src/gateway/filters/validation_response_filter.bal
  components/micro-gateway-core/src/main/ballerina/src/gateway/native/validator.bal
  components/micro-gateway-core/src/main/java/org/wso2/micro/gateway/core/Constants.java
  components/micro-gateway-core/src/main/java/org/wso2/micro/gateway/core/validation/OpenAPIRequest.java
  components/micro-gateway-core/src/main/java/org/wso2/micro/gateway/core/validation/OpenAPIResponse.java
  components/micro-gateway-core/src/main/java/org/wso2/micro/gateway/core/validation/SchemaValidationUtils.java
  components/micro-gateway-core/src/main/java/org/wso2/micro/gateway/core/validation/Validate.java
  distribution/pom.xml
  pom.xml
  tests/src/test/java/org/wso2/micro/gateway/tests/common/ResponseConstants.java
Labels: Type/Improvement, ballerina-mgw

#3660 Support configuring API Key header
  adapter/config/default_config.go
  adapter/internal/discovery/xds/server.go
  adapter/internal/oasparser/config_generator.go
  adapter/internal/oasparser/model/constants.go
  adapter/internal/oasparser/model/mgw_swagger.go
  adapter/internal/oasparser/model/types.go
  adapter/pkg/discovery/api/wso2/discovery/api/api.pb.go
  api/proto/wso2/discovery/api/api.proto
  enforcer-parent/commons/src/main/java/org/wso2/choreo/connect/enforcer/commons/model/APIConfig.java
  enforcer-parent/enforcer/src/main/gen/org/wso2/choreo/connect/discovery/api/Api.java
  enforcer-parent/enforcer/src/main/gen/org/wso2/choreo/connect/discovery/api/ApiOrBuilder.java
  enforcer-parent/enforcer/src/main/gen/org/wso2/choreo/connect/discovery/api/ApiProto.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/api/RestAPI.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/api/WebSocketAPI.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/constants/Constants.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/security/jwt/APIKeyAuthenticator.java
  enforcer-parent/enforcer/src/test/java/org/wso2/choreo/connect/enforcer/security/jwt/APIKeyAuthenticatorTest.java
Labels: Type/Task

#3668 [Choreo] Fix trivy scan failure for golang.org/x/crypto library
  .github/workflows/main.yml
  adapter/go.mod
  adapter/go.sum
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/api/RestAPI.java
  enforcer-parent/enforcer/src/main/java/org/wso2/choreo/connect/enforcer/constants/APIConstants.java
  pom.xml
Labels: Choreo
